{{!< default}}

<div class="preview"><a href={{webSrc}}>Preview</a></div>
<iframe class="editor" src="{{editorSrc}}" seamless="seamless"></iframe>
<iframe class="terminal" src="{{terminalSrc}}" seamless="seamless"></iframe>
