{{!< default}}

<div class="preview"><a href="{{webSrc}}" target="_blank">Preview</a></div>
<iframe class="editor" src="{{editorSrc}}" seamless="seamless"></iframe>
<iframe class="terminal" src="{{terminalSrc}}" seamless="seamless"></iframe>
