{{!< default}}
<h3>Starting your container now</h3>
<h3>We have to create an image from scratch for you</h3>
<h3>It is going to take a while</h3>
{{fullName}}

<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
<script type="text/javascript">
  var socket = io.connect();
  socket.on('news', function (data) {
    console.log(data);
  });
</script>