{{!< default}}
<h3>Starting your container for {{fullName}} now</h3>
<h3>We have to create an image from scratch for you</h3>
<h3>It is going to take a while</h3>
<div id="build-logs"></div>

<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
  var imageName = '{{fullName}}';
  var socket = io.connect();
  socket.on('start', function (data) {
    console.log('start' + data);
    //too hacky
    socket.emit('buildimage', { imageName: imageName });
  });
  
  socket.on('toClient', function (data) {
    //console.log('toClient' + data);
    document.getElementById('build-logs').innerHTML += data + '<br>';
  });
</script>