{{!< default}}
<h3>Starting your container now</h3>
<h3>We have to create an image from scratch for you</h3>
<h3>It is going to take a while</h3>
{{fullName}}

<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
  var socket = io.connect();
  socket.on('news', function (data) {
    console.log(data);
    
    //too hacky
    socket.emit('buildimage', { my: 'data' });
  });
</script>