* {
  //todo
  //use reset.css
  margin: 0;
  padding: 0
}
html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border: none;
}
iframe {
  //http://stackoverflow.com/questions/5867985/iframe-auto-100-height
  //http://stackoverflow.com/questions/13619462/two-iframes-in-one-page-the-2nd-iframe-to-auto-height
  width: 100%
  overflow: hidden;
}
.editor {
  height: 70%;
}
.terminal {
  height: 30%;
}